/* Main container */
.dash-widgets-container {}



/* Music player widget styling */

.music-player-widget {
    max-width: 250px;
    height: 48px;
    background-color: #111113;
    border-radius: 12px;
    color: white;
}

.music-album-art {
    width: 28px;
    /* move this to settings on the future (current album art size 32px) */
    height: 28px;
    /* move this to settings on the future (current album art size 32px) */
    border-radius: 8px;
    margin: 0px 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* .music-album-art > * {
    width: 100%;
    height: 100%;
    border-radius: 8px;
} */

.music-artist {
    font-size: 10px;
    font-weight: bold;
}

.music-title {
    font-size: 12px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.music-title:hover {
    display: inline-block;
    text-overflow: clip;
    animation: scroll-left 10s linear infinite;
}

.music-controls {
    margin-right: 4px;
    margin-left: 8px;
    border-left: 1px solid #646467;
}

.music-next-icon,
.music-play-icon,
.music-pause-icon {
    width: 16px;
    height: 16px;
    margin: 0px 5px;
    vertical-align: middle;
    cursor: pointer;
    fill: white;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.music-metadata {
    max-width: 60%;
}